

.container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;

    color: white;
    font-family: Mnn;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.container__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.container__header {
    font-size: 48px;
    font-weight: bold;

    position: relative;
    bottom: 32px;
}

.container__straightLine {
    width: 1px;
    height: 60px;
    background-color: white;

    position: relative;
    bottom: 32px;
}

.container__text {
    max-width: 500px;
    text-align: center;

    position: relative;
    bottom: 32px;
}


@keyframes enter {
    from {
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}