
.container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    //background-color: #25394A;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.container__top {
    user-select: none;
    position: relative;
    top: -32px;
    padding: 0 12px;
}

.container__top__firstLine {
    font-family: "Bodoni Book", sans-serif;
    font-style: normal;
    font-size: 64px;
    line-height: 1;
}


.container__top__secondLine {
    font-family: "Bodoni Book", sans-serif;
    font-style: italic;
    font-size: 72px;
    color: #ffc856;
    line-height: 1;
    letter-spacing: 4px;
}

.container__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;

    position: relative;
    top: -32px;
}

.container__paragraph {
    font-family: "Mnn", sans-serif;
    font-size: 14px;
}

.container__bottom__iconList {
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.container__bottom__icon {
    font-size: 20px;
    color: white;
}


@media(max-width: 768px) {
    .container {
        gap: 12px;
    }
    .container__top {
        padding: 0 6px;
    }
    .container__top__firstLine {
        font-size: 40px;
    }
    .container__top__secondLine {
        font-size: 44px;
    }
    .container__paragraph {
        font-size: 12px;
    }
    .container__bottom__iconList {
        margin-top: 8px;
    }
    .container__bottom__icon {
        font-size: 18px;
    }
}