@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Mnn';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/Mnm.woff') format('woff');
}

@font-face {
    font-family: 'Bodoni Book';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/BodoniSevITC-Book.woff') format('woff');
}

@font-face {
    font-family: 'Bodoni Book';
    font-weight: normal;
    font-style: italic;
    src: url('./assets/BodoniSevITC-BookItal.woff') format('woff');
}



@layer utilities {
}